@import "scss/global.scss";

// input.module.scss
.container {
  width: 210px;
  .label {
    cursor: pointer;
    display: flex;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
    @extend %common-container-styling;

    input {
      @extend %common-form-html-styling;
      padding: 10px 15px;
    }

    .suffixIcon {
      padding: 0 5px;
      position: absolute;
      right: 10px;
    }

    .prefixIcon {
      padding: 0 5px;
    }
  }
}
